/* Your existing CSS */
body {
    background-color: rgba(18, 18, 18, 255);
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Resetting default browser styles */
body, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.project-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.project {
    position: relative;
    cursor: pointer;
    width: 40%; /* Adjust the width of the project container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s; /* Add transition for smooth scaling */
    z-index: 1; /* Ensure that project content is layered below */
    min-height: 600px;
}

.project:hover {
    transform: scale(1.05); /* Increase scale on hover */
}

.project h5, .project h6, .project h1{
    color: #353030;
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bold;
}

.project p {
    font-size: 1.6rem;
    font-weight: bold;
    color: #5a4f4f;
    margin-bottom: 20px;
}

.project a {
    /* color: #504a4a; */
    text-decoration: none;
    /* font-weight: bold;
    background-color: rgba(247, 249, 252, 0.2);
    padding: 10px 20px;
    border-radius: 4px; */
    transition: background-color 0.3s;
}

.project a:hover {
    background-color: rgba(176, 184, 192, 0.6);
}

.project img {
    width: 80%;
    border-radius: 8px;
    margin-top: 20px;
    object-fit: cover;
}

.behind-pro-img1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 100%;
    height: 80%;
    object-fit: cover;
    z-index: -1; /* Ensure that behind image is layered on top */
}
@keyframes move-left-right {
    0% { left: 0; }
    50% { left: 10%; }
    100% { left: 0; }
}
.pro-img1, .pro-img2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    animation: move-left-right 5s infinite; /* Apply the animation */
}

/* Additional styles for smaller screens */
@media screen and (max-width: 767px) {
    .project {
        width: 90%; /* Adjust the width for smaller screens */
    }

    /* Adjust the width and height for even projects on smaller screens */
    .project:nth-child(even) {
        width: 90%; /* Set the width of even projects */
        max-height: 600px; /* Set the maximum height of even projects */
    }
}


@media screen and (min-width: 768px) {
    /* Adjust the width and height for even projects starting from the 4th project */
    .project:nth-child(4n+4) {
        width: 40%;
        max-height: 500px; /* Set the maximum height of even projects to 50% of container's height */
        /* Adjust other styles as needed */
    }
}





